
.flexForm{
    display: flex;
    flex-direction: column;
     gap: 5px;
    
    /* border: solid 2px lime; */
}

.container{
    max-width: 350px;
    height: auto;
    margin: 0 auto;
    padding: 40px;
    border: solid 1px gray;
}

.btnlogin{
    padding: 5px 10px;
    background-color: blue ;
    color: white ;
    border-radius: 5px ;
    text-decoration: none ;
}
input{
    background-color: black;
    color: gray;
    padding: 5px;
}

.signupBtn {
    background-color: #007bff; /* Blue color */
    color: white; /* Text color */
    padding: 10px 20px; /* Spacing inside the button */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover effect */
  }
  .text{
font-size: 12px;
color: gray;
  }